.flex {
    display: flex;
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.jcsb {
    justify-content: space-between
}

.jcsa {
    justify-content: space-around;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.f-grow1 {
    flex-grow: 1;
}