.flory-left-section {
    height: 100%;
    width: 50%;
}

.left-section-body {
    padding: 4% 8%;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #203F34;
    border-radius: 15px;
    align-self: baseline;
    justify-self: baseline;
    padding: 0 10px;
    width: fit-content;
}

.images {
    justify-self: baseline;
}

.wishes {
    color: #FFF;
    padding: 0 33px;
    width: fit-content;
    font-weight: 400;
    font-size: 24px;
    background: #203F34;
    border-radius: 20px;
}

.flory-right-section {
    width: 50%;
    background-color: red;

}