.flory-body {
    overflow: hidden;
}

.flory-left-section {
    height: 100%;
    width: 50%;
}

.left-section-body {
    padding: 4% 8%;
}

.images {
    justify-self: baseline;
}

.wishes {
    color: #FFF;
    padding: 0 33px;
    width: fit-content;
    font-weight: 400;
    font-size: 24px;
    background: #203F34;
    border-radius: 20px;
}

.flory-right-section {
    animation-duration: 300ms;
    animation-name: slide-left;

    position: relative;
    width: 50%;
    border-radius: 30px 0 0 30px;
    color: #FFF !important;
    background-image: url('../../img/background-flory.svg');
    background-size: cover;
    background-position: bottom;
}

.right-section-body {
    padding: 4% 8%;
}