.footer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-rows: 60px;
    grid-template-columns: 0.5fr 1.5fr repeat(2, 1fr) 2fr;
}

.lang-switcher-container {

}

button.lang-switcher {
    color: rgba(32, 63, 52, 0.3);
}

.active-lang {
    color: rgba(32, 63, 52, 1) !important;
}

.inst-logo {
    margin-right: 30px;
    height: 26px;
    width: 26px;
    justify-self: end;
}

.manifest {
    padding: 0 10px;
    background-color: #C1C9F2;
    border-radius: 15px;
}

.telephone {
    margin-left: 30px;
}

.splice-footer {
    grid-template-columns: 0.5fr 1.5fr 1fr;
}

.contacts-footer {
    grid-template-columns: 1fr 2fr;
}