.header {
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(4, 1fr) 2fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-button {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.active-page {
    border-bottom: 1px solid #003615;
}

.button-label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #203F34;
}

.logo {
    align-self: center;
    height: 100%;
    background-color: transparent;
}

.greetings {
    height: 50%;
    width: fit-content;
    padding: 2px 6px;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #203F34;
    border: 1px solid #203F34;
    border-radius: 15px;
}

.splice-header {
    grid-template-columns: repeat(3, 1fr);
}