body {
    font-family: 'Poppins', sans-serif;
    color: #203F34;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #EFEBE1;
}

.w100p {
    width: 100%;
}

.h100p {
    height: 100%;
}

.text-center {
    text-align: center;
}

.f-size45 {
    font-size: 45px;
    font-weight: 500;
}

.f-size16 {
    font-size: 16px;
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}