.main-body {
    height: 100%;
    margin: 4%;
    display: grid;
    align-items: center;
}

.video {
    height: 90%;
}

.you-tube-frame {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}