.manifest-page {
    position: absolute;
    top: 0;
    height: 100svh;
    width: 100vw;
    background-color: #203F34;
    color: #FFF;
}

.open-manifest {
    animation-duration: 500ms;
    animation-name: open-manifest;
}

.close-manifest {
    animation-duration: 500ms;
    animation-name: close-manifest;
}

.manifest-header {
    position: relative;
    left: 50%;
}

.manifest-body {
    margin: 4% !important;
}

.list-button {
    position: relative;
    color: #FFFFFF66;
    padding: 20px;
}

.active-list-btn {
    color: #FFF;
}

.active-list-btn:before {
    position: absolute;
    left: -5px;
    content: '•';
}

.manifest-description {
    padding: 20px;
}

.close-btn {
    color: #C1C9F2;
    padding: 0 20px;
    margin: 10px 0;
    width: fit-content;
    border: 1px solid #C1C9F2;
    border-radius: 20px;
}