.container {
    height: 100%;
    background-image: url("../../img/work-view-background.svg");
    background-size: cover;
    background-position: bottom;
}

.drop-down-background {
    background-image: url("../../img/work-view-background.svg");
}

.layout {
    padding: 2% 4%;
}